.posts{
    padding:20px;
}
.posts__title {
    font-size: 20px;
    font-weight: 800;
    padding: 20px 0px;

}

.posts__input input {
    width: 80%;
    height: 50px;
    padding: 10px;
    border-radius: 5px;
    border: 0;
    border-bottom: 3px solid #eee;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.06);
    resize: vertical;
}

.posts__input input:focus {
    outline: none;
}

::placeholder {
    transform: translateY(-10px) translateY(50%);
    font-size: 15px;
}
.posts__btn{
    margin-bottom: 20px;
}


