.navbar{
    grid-area: n;
    background-color: blue;
    max-width: 500px;
    width:165px;
}

.navbar__link{
    color:white;
    padding:5px 10px;
}
.navbar__link--margin{
    margin-top:15px;
}
.navbar__link a{
    color:white;
}
